<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body>

    <header>
      <h1>Tiny App</h1>
      <% if (user) {%>
        <form method="POST" action="/logout">
          <h4>Log in As: <%= user.email %></h4>
          <input type="submit" value="Log Out">
        </form>
      <% } else {%>
        <a href="/register">Register></a>
        <a href="/login">Login></a>
      <% } %>
    </header>

</body>

</html>