<h1>Tiny App</h1>
<form method="POST" action="/login">
<% if (username.username) { %>
    <p>Logged in as: <%= username.username %></p>
<% } else {%>
    <input id="username" type="text" name="username">
    <input type="submit" value="Submit">    
<% } %>
</form>    