<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body>

    <header>
        <% include partials/_header %>
    </header>

        <ul>
            <% for (const url in urls) { %>
                <li>

                    <%= urls[url] %>:
                    <br><b><%= url %></b>
                    <br>
                    <a href="/urls/<%= url %>">Edit</a>
                    <form method="POST" action="/urls/<%= url %>/delete">
                        <button>Delete!</button>
                    </form>
                </li>

            <% } %>
            <br>
            <br>
            <br>
            <a href="/urls/new">Creat A New Shortened URL</a>
        </ul>

</body>

</html>