<!DOCTYPE html>
<html lang="en">

<head>

    <title>TinyApp</title>
</head>

<body>

    <head>
        <% include partials/_header %>
    </head>

    <ul>
        <%= shortURL %> is associate with
            <%= longURL %>
    </ul>

</body>

</html>